@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Cash-flow Planner</h1>
    <p class="lead">With our simple smart application you can easily follow your company`s cash-flow, so you will be able to bring out the most of your opportunities. </p>
    <p class="lead">Please log in or register in order to be able to use our complex, yet easy to use cash-flow calculator.</p>
    <img src="~/img/BPM.jpg" alt="cashflow" class="home-image" />
</div>

